{{> header}}
<div id="notfound" class="section-container">
  <p style="font-size: 100px; margin-bottom: 0%; font-weight: bold;">
    404
  </p>
  <p style="font-weight: bold; margin-top: ;">Yah... linkmu gaada di database :(</p>
  <a class="back-to-home" href="/">
    â† Balik ke homepage
  </a>
</div>
{{> footer}}