{{> header}}
<section id="protected" class="section-container">
  <h2 style="text-align: center;">
    Linknya diprotect.
  </h2>
  <p>
    Masukin pwnya dibawah, pastiin bener.
  </p>
  {{> protected/form}}
</section>
{{> footer}}