{{> header}}
<section id="reset-password" class="section-container">
  <h2>
    Reset password.
  </h2>
  <p>
    Jika kamu lupa sandimu, isi form dibawah.
  </p>
  {{> reset_password/request_form}}
</section>
{{> footer}}